<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Programs>
  <Program>
    <command/>
    <procnum>1</procnum>
    <autolaunch>TRUE</autolaunch>
    <starttime>5</starttime>
    <restart>unexpected</restart>
    <retries>3</retries>
    <stopsig/>
    <stoptime>10</stoptime>
    <exitcodes/>
    <stdout/>
    <stderr/>
    <redir/>
    <envvars/>
    <workingdir/>
    <umask/>
  </Program>
  <Program/>
  <Program/>
  <Program/>
  <Program/>
  <Program>
    <command/>
    <procnum>1</procnum>
    <autolaunch>TRUE</autolaunch>
    <starttime>5</starttime>
    <restart>unexpected</restart>
    <retries>3</retries>
    <stopsig/>
    <stoptime>10</stoptime>
    <exitcodes/>
    <stdout/>
    <stderr/>
    <redir/>
    <envvars/>
    <workingdir/>
    <umask/>
  </Program>
  <Program>
    <command/>
    <procnum>1</procnum>
    <autolaunch>TRUE</autolaunch>
    <starttime>5</starttime>
    <restart>unexpected</restart>
    <retries>3</retries>
    <stopsig/>
    <stoptime>10</stoptime>
    <exitcodes/>
    <stdout/>
    <stderr/>
    <redir/>
    <envvars/>
    <workingdir/>
    <umask/>
  </Program>
  <Program>
    <command/>
    <procnum>1</procnum>
    <autolaunch>TRUE</autolaunch>
    <starttime>5</starttime>
    <restart>unexpected</restart>
    <retries>3</retries>
    <stopsig/>
    <stoptime>10</stoptime>
    <exitcodes/>
    <stdout/>
    <stderr/>
    <redir/>
    <envvars/>
    <workingdir/>
    <umask/>
  </Program>
  <Program>
    <command/>
    <procnum>1</procnum>
    <autolaunch>TRUE</autolaunch>
    <starttime>5</starttime>
    <restart>unexpected</restart>
    <retries>3</retries>
    <stopsig/>
    <stoptime>10</stoptime>
    <exitcodes/>
    <stdout/>
    <stderr/>
    <redir/>
    <envvars/>
    <workingdir/>
    <umask/>
  </Program>
  <Program>
    <command>/C/</command>
    <procnum>1</procnum>
    <autolaunch>FALSE</autolaunch>
    <starttime>5</starttime>
    <restart>never</restart>
    <retries>2</retries>
    <stopsig>SSIG</stopsig>
    <stoptime>10</stoptime>
    <exitcodes>
      <code>0</code>
      <code>2</code>
      <code>4</code>
      <code>5</code>
    </exitcodes>
    <stdout>/C/stdout</stdout>
    <stderr>/C/stderr</stderr>
    <redir>/C/redir</redir>
    <envvars>
      <envvar>
        <var>ENV1</var>
        <val>VAL1</val>
      </envvar>
      <envvar>
        <var>ENV2</var>
        <val>VAL2</val>
      </envvar>
    </envvars>
    <workingdir>/tmp</workingdir>
    <umask>077</umask>
  </Program>
  <Program>
    <command>/C/</command>
    <procnum>1</procnum>
    <autolaunch>FALSE</autolaunch>
    <starttime>5</starttime>
    <restart>never</restart>
    <retries>2</retries>
    <stopsig>SSIG</stopsig>
    <stoptime>10</stoptime>
    <exitcodes>
      <code>0</code>
      <code>2</code>
      <code>4</code>
      <code>5</code>
    </exitcodes>
    <stdout>/C/stdout</stdout>
    <stderr>/C/stderr</stderr>
    <redir>/C/redir</redir>
    <envvars>
      <envvar>
        <var>ENV1</var>
        <val>VAL1</val>
      </envvar>
      <envvar>
        <var>ENV2</var>
        <val>VAL2</val>
      </envvar>
    </envvars>
    <workingdir>/tmp</workingdir>
    <umask>077</umask>
  </Program>
  <Program>
    <command/>
    <procnum>1</procnum>
    <autolaunch>TRUE</autolaunch>
    <starttime>5</starttime>
    <restart>unexpected</restart>
    <retries>3</retries>
    <stopsig/>
    <stoptime>10</stoptime>
    <exitcodes/>
    <stdout/>
    <stderr/>
    <redir/>
    <envvars/>
    <workingdir/>
    <umask/>
  </Program>
</Programs>
