<?xml version="1.0" encoding="utf-8"?>
<Programs>
	<Program>
		<envvars>
			<envvar>
				<var>ENV2</var>
				<val>VAL2</val>
			</envvar>
			<envvar>
				<var>ENV1</var>
				<val>VAL1</val>
			</envvar>
		</envvars>
		<retries>2</retries>
		<redout>True</redout>
		<stdout>top.stdout</stdout>
		<stdoutmax>1000000</stdoutmax>
		<workingdir></workingdir>
		<umask>022</umask>
		<progname>top</progname>
		<stopsig>SIGTERM</stopsig>
		<autolaunch>True</autolaunch>
		<stoptime>10</stoptime>
		<command>/usr/bin/top</command>
		<stderr>top.stderr</stderr>
		<rederr>False</rederr>
		<stderrmax>1000000</stderrmax>
		<procnum>3</procnum>
		<starttime>5</starttime>
		<restart>never</restart>
		<exitcodes>
			<code>0</code>
		</exitcodes>
	</Program>
</Programs>
