<?xml version="1.0" encoding="utf-8"?>
<Programs>
	<Program>
		<envvars>
			<envvar>
				<var>ENV2</var>
				<val>VAL2</val>
			</envvar>
			<envvar>
				<var>ENV1</var>
				<val>VAL1</val>
			</envvar>
		</envvars>
		<retries>2</retries>
		<redout>False</redout>
		<stdout>/usr/bin/whoami.stdout</stdout>
		<workingdir>/tmp</workingdir>
		<umask>077</umask>
		<progname>whoami</progname>
		<stopsig>SIGTERM</stopsig>
		<autolaunch>True</autolaunch>
		<stoptime>10</stoptime>
		<command>whoami</command>
		<stderr>/usr/bin/whoami.stderr</stderr>
		<rederr>False</rederr>
		<procnum>1</procnum>
		<starttime>5</starttime>
		<restart>always</restart>
		<exitcodes>
			<code>0</code>
			<code>2</code>
			<code>4</code>
			<code>5</code>
		</exitcodes>
	</Program>
	<Program>
		<envvars>
			<envvar>
				<var>ENV2</var>
				<val>VAL2</val>
			</envvar>
			<envvar>
				<var>ENV1</var>
				<val>VAL1</val>
			</envvar>
		</envvars>
		<retries>2</retries>
		<redout>False</redout>
		<stdout>/usr/bin/whois.stdout</stdout>
		<workingdir>/tmp</workingdir>
		<umask>077</umask>
		<progname>top</progname>
		<stopsig>SIGKILL</stopsig>
		<autolaunch>True</autolaunch>
		<stoptime>10</stoptime>
		<command>/usr/bin/top</command>
		<stderr>/tmp/top.stderr</stderr>
		<rederr>False</rederr>
		<procnum>3</procnum>
		<starttime>5</starttime>
		<restart>never</restart>
		<exitcodes>
			<code>0</code>
			<code>2</code>
			<code>4</code>
			<code>5</code>
		</exitcodes>
	</Program>
	<Program>
		<envvars>
			<envvar>
				<var>ENV2</var>
				<val>VAL2</val>
			</envvar>
			<envvar>
				<var>ENV1</var>
				<val>VAL1</val>
			</envvar>
		</envvars>
		<retries>2</retries>
		<redout>False</redout>
		<stdout>/usr/bin/whoami.stdout</stdout>
		<workingdir>/tmp</workingdir>
		<umask>077</umask>
		<progname>cheese</progname>
		<stopsig>SIGTERM</stopsig>
		<autolaunch>True</autolaunch>
		<stoptime>10</stoptime>
		<command>/usr/bin/cheese</command>
		<stderr>/usr/bin/whoami.stderr</stderr>
		<rederr>False</rederr>
		<procnum>1</procnum>
		<starttime>5</starttime>
		<restart>always</restart>
		<exitcodes>
			<code>0</code>
			<code>2</code>
			<code>4</code>
			<code>5</code>
		</exitcodes>
	</Program>
</Programs>
