<?xml version="1.0" encoding="utf-8"?>
<Programs>
	<Program>
		<envvars>
			<envvar>
				<var>ENV2</var>
				<val>VAL2</val>
			</envvar>
			<envvar>
				<var>ENV1</var>
				<val>VAL1</val>
			</envvar>
		</envvars>
		<retries>2</retries>
		<stderr>/usr/bin/whoami.stderr</stderr>
		<stdout>/usr/bin/whoami.stdout</stdout>
		<umask>077</umask>
		<workingdir>/tmp</workingdir>
		<redir>/usr/bin/whoami.redir</redir>
		<autolaunch>True</autolaunch>
		<stoptime>10</stoptime>
		<command>/usr/bin/whoami</command>
		<starttime>5</starttime>
		<stopsig>SSIG</stopsig>
		<procnum>1</procnum>
		<restart>never</restart>
		<exitcodes>
			<code>0</code>
			<code>2</code>
			<code>4</code>
			<code>5</code>
		</exitcodes>
	</Program>
	<Program>
		<envvars>
			<envvar>
				<var>ENV2</var>
				<val>VAL2</val>
			</envvar>
			<envvar>
				<var>ENV1</var>
				<val>VAL1</val>
			</envvar>
		</envvars>
		<retries>2</retries>
		<stderr>/usr/bin/whois.stderr</stderr>
		<stdout>/usr/bin/whois.stdout</stdout>
		<umask>077</umask>
		<workingdir>/tmp</workingdir>
		<redir>/usr/bin/whois.redir</redir>
		<autolaunch>True</autolaunch>
		<stoptime>10</stoptime>
		<command>/usr/bin/whereis</command>
		<starttime>5</starttime>
		<stopsig>SSIG</stopsig>
		<procnum>1</procnum>
		<restart>never</restart>
		<exitcodes>
			<code>0</code>
			<code>2</code>
			<code>4</code>
			<code>5</code>
		</exitcodes>
	</Program>
</Programs>
