<?xml version="1.0" encoding="utf-8"?>
<Programs>
	<Program>
		<envvars>
			<envvar>
				<var>ENV2</var>
				<val>VAL2</val>
			</envvar>
			<envvar>
				<var>ENV1</var>
				<val>VAL1</val>
			</envvar>
		</envvars>
		<retries>2</retries>
		<stderr>/Downloads/darkradiant-1.8.0-x64.stderr</stderr>
		<stdout>/C/Downloads/darkradiant-1.8.0-x64.stdout</stdout>
		<umask>077</umask>
		<workingdir>/tmp</workingdir>
		<redir>/C/Downloads/darkradiant-1.8.0-x64.redir</redir>
		<autolaunch>True</autolaunch>
		<stoptime>10</stoptime>
		<command>/Downloads/darkradiant-1.8.0-x64.exe</command>
		<starttime>5</starttime>
		<stopsig>SSIG</stopsig>
		<procnum>1</procnum>
		<restart>never</restart>
		<exitcodes>
			<code>0</code>
			<code>2</code>
			<code>4</code>
			<code>5</code>
		</exitcodes>
	</Program>
	<Program>
		<envvars>
			<envvar>
				<var>ENV2</var>
				<val>VAL2</val>
			</envvar>
			<envvar>
				<var>ENV1</var>
				<val>VAL1</val>
			</envvar>
		</envvars>
		<retries>2</retries>
		<stderr>/C/UsbFix/UsbFix.exe.stderr</stderr>
		<stdout>/C/UsbFix/UsbFix.exe.stdout</stdout>
		<umask>077</umask>
		<workingdir>/tmp</workingdir>
		<redir>/C/UsbFix/UsbFix.exe.redir</redir>
		<autolaunch>True</autolaunch>
		<stoptime>10</stoptime>
		<command>/UsbFix/UsbFix.exe</command>
		<starttime>5</starttime>
		<stopsig>SSIG</stopsig>
		<procnum>1</procnum>
		<restart>never</restart>
		<exitcodes>
			<code>0</code>
			<code>2</code>
			<code>4</code>
			<code>5</code>
		</exitcodes>
	</Program>
</Programs>
